/**
 * Bryant Hansen
 */

/*****************************************************/
/** Layout */
/*****************************************************/
html {
    height: 99%;
}
body {
    height: 99%;
    width: 100%;
}
table.header {
    width: 99%;
}
/*
table.stats,
table.layout,
div.outer
{
    width: 100%;
}
table.stats td input {
    width: 98%;
}
*/
p.footnote,
td.status p
{
    padding: 0em;
    margin: 0em;
    box-sizing: border-box;
}
td.title {
    text-align: center;
}
table.stats td.label {
    text-align: right;
}
/*
td.status table
{
    float: right;
}
table.status td:nth-child(odd) {
    text-align: right;
}
table.status td:nth-child(even) {
    text-align: left;
}
*/
input.timespan_hr,
input.timespan_min
{
    width: 6em;
}

/*****************************************************/
/** Colors */
/*****************************************************/
html {
    background-color: #D0D0D0;
}
body {
    color: #101010;
    background-color: #E0E0E0;
}
div.outer {
    background-color: #F0F0F0;
}


/*****************************************************/
/** Fonts */
/*****************************************************/
h1 {
    font-family: Arial, Helvetica, sans-serif;
}
p.footnote,
td.status,
table.stats {
    font-size: small;
}
td.status table
{
    font-size: x-small;
}

/*****************************************************/
/** Borders */
/*****************************************************/
table.stats,
table.status,
canvas,
canvas#myCanvas {
    border: solid;
    border-width: 1px;
}
div.slider_inner {
    border-color: #C01010;
}
div.outer {
    border-color: #10C0C0;
}
div.slider {
    border-color: #C010C0;
}
div.arrow {
    border-color: #C0C010;
}
table {
    border-color: #808080;
}
canvas,
canvas#myCanvas {
    border-color: #C0C0C0;
}

/*****************************************************/
/** Fancy */
/*****************************************************/

table, td, input, canvas {
    border-radius: 0.3em;
}
/*
input {
    box-shadow: 2px 2px #C0C0C0;
}
*/
